.paper-texture {
	/*z-index: 1;*/
	background-image: url('./img/beige-paper.png');
	filter: brightness(100%);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}